body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="file"] {
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0000;
}

.result, .content {
  margin-top: 20px;
}
#dropZone {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

#dropZone p {
  margin: 0;
}

#dropZone label {
  color: #007bff;
  cursor: pointer;
}

#dropZone:hover {
  background-color: #f0f0f0;
}

